@import "https://fonts.googleapis.com/css?family=Josefin+Sans:400,700";

body {
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans", sans-serif;
    background-color: #333;
    color: white;
}

/*body a {
            color: #ffffff;
            text-decoration: none;
        }*/

.card {
    display: inline-block;
    margin: 0.3em;
    /*position: absolute;*/
    /*top: 50%;
            left: 50%;*/
    height: 340px;
    width: 226px;
    /*transform: translate(-50%, -50%);*/
    transform-style: preserve-3d;
    perspective: 600px;
    transition: 0.5s;
}

@media (pointer: coarse) {
    .card {
        width: 40vw;
        height: 60vw;
    }
    .card-back {
        font-size: 1em;
    }
    .card-back h2 {
        font-size: 2em;
    }
    
    .card-back h2 span {
        font-size: 0.5em;
    }
}

.card:hover .card-front {
    transform: rotateX(-180deg);
}

.card:hover .card-back {
    transform: rotateX(0deg);
}

.card-front {
    height: 100%;
    width: 100%;
    /*background-image: url(https://cdn.pixabay.com/photo/2015/08/11/11/56/spades-884178_960_720.png);
            */
    background-position: 50% 50%;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    /*background-color: #000000;*/
    backface-visibility: hidden;
    transform: rotateX(0deg);
    transition: 0.5s;
    border-radius: 25px;
    border: 5px solid black;
}

.card-back {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff;
    backface-visibility: hidden;
    transform: rotateX(180deg);
    transition: 0.5s;
    color: #000000;
    text-align: center;
    border-radius: 25px;
    border: 5px solid black;

}

.card-back h2 {
    margin: 30% auto 25% auto;
    font-size: 2em;
}

.card-back h2 span {
    font-size: 1em;
}

.card-back li {
    text-align: left;
    padding-left: 1em;
    padding-right: .5em;
}

.card-back a:hover {
    color: #000000;
    background-color: #fff;
}

.sticky-top {
    color: #fff;
    background-color: #333;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
}